@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Rowdies&family=Source+Code+Pro:wght@300;400;500;700&family=Ubuntu:wght@300;400;500&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Typeface */
  --header-height: 3rem;
  --font-semi: 500;

  /* Color */
  --color-primary: #028a5d;
  --color-primary-light: #03c988;
  --color-secondary-light: #1c82ad;
  --color-secondary-dark: #00337c;

  /* Font Family */
  --font-body: "ubuntu", sans-serif;
  --font-family-code: "source code pro", monospace;
  --font-family-heading: "montserrat", sans-serif;
  --font-family-heading-alt: "rowdies", sans-serif;

  /* Font Size */
  --font-size-base: 0.938rem;
  --header-font-size: 1.25rem;
  --big-font-size: 2rem;

  /* Margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* z-index */
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media (min-width: 768px) {
  :root {
    --font-size-base: 1rem;
    --header-font-size: 2rem;
    -font-size-big: 3.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block; 
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-secondary-dark);
    background-color: #ffffff;
  }
  button {
    background-color: var(--color-primary);
  }

  .home--title-clr {
    color: var(--color-primary);
  }

  .home--title {
    color: var(--color-secondary-dark);
  }

  .home--social-icon {
    font-size: 1.5rem;
    color: var(--color-secondary-dark);
    margin-right: 1rem;
  }

  .contact--input {
    color: #242424;
    outline: 2px solid #242424a3;
  }

  .project--link {
    color: var(--color-secondary-dark);
    border: 2px solid var(--color-secondary-dark);
  }

  label {
    color: var(--color-secondary-dar);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  button {
    background-color: var(--color-primary-light);
  }

  a {
    color: rgba(255, 255, 255, 0.87);
  }

  .work--img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.5);
  }

  .project--link {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }
  
}
/* CSS Classes */
.section-title {
  position: relative;
  font-family: var(--font-family-heading-alt);
  font-size: var(--header-font-size);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  /* color: var(--color-secondary-dark); */
  text-align: center;
}

.section-title::after {
  content: "";
  position: absolute;
  margin: auto;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  top: 2rem;
  /* transform: translateX(-50%); */
  width: 4rem;
  height: 0.18rem;
  background-color: var(--color-primary);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid hsla(198, 72%, 39%, 0.3);

}

main {
  margin: auto;
}


section + section {
  padding-top: var(--mb-5);
}

.bg-grid,
.bd-grid {
  margin: 0 var(--mb-2);
  padding: var(--mb-2);
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
  width: calc(100% - 2rem);
  max-width: 64rem;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: #00337c;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  width: 100%;
}

.l-header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  font-weight: var(--font-semi);
  padding: 0 1rem;
  max-width: 64rem;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primary-light);
  text-decoration: none;
  cursor: pointer;
}

.nav-link {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 320px) {
  .home--data {
    height: 100%;
  }

  .home--img {
    width: 100%;
    height: 100%;
    top: 50%;
    bottom: 0;
    right: 0;
  }
  
}


@media (max-width: 480px) {

  .home--data {
    height: 100%;
  }

  .home--img {
    width: 100%;
    height: 100%;
    top: 50%;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  .nav--menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    height: calc(100vh - var(--header-height));
    padding: 2rem;
    background: var(--color-primary);
    transition: 500ms;
    z-index: 100;
  }

  .show {
    right: 0;
  }

  .l-header .nav--item {
    margin-bottom: var(--mb-4);
  }

  .nav-link {
    position: relative;
    color: #ffffff;
  }

  .nav-link:hover {
    position: relative;
  }

  .nav-link:hover::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 0.15rem;
    left: 0;
    top: 1.3rem;
    background-color: var(--color-secondary-dark);
  }

  .active::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 0.15rem;
    left: 0;
    top: 1.3rem;
    background-color: var(--color-secondary-dark);
  }

  .nav--toggle {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .bx-menu {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .home--img {
    position: absolute;
    right: 5%;
    bottom: 2%;
    width: 2.5rem;
    height: 2.5rem;
    /* z-index: -1; */
  }
}

/* Home */
.home {
  height: calc(100vh -3rem);
  row-gap: 1rem;
  /* position: relative; */
}

.home--data {
  align-self: center;
  position: relative;
}

.home--title {
  font-size: var(--big-font-size);
  /* font-weight: var(--font-semi); */
  /* color: var(--color-primary-light); */
  margin-bottom: var(--mb-5);
}

.home--title-clr {
  color: var(--color-primary-light);
}

.home--social {
  display: flex;
  flex-direction: column;
  /* margin-bottom: var(--mb-5); */
}

.home--social-icon {
  width: max-content;
  font-size: 1.5rem;
  margin-bottom: var(--mb-2);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  /* color: var(--color-secondary-dark); */
}

.home--social-icon:hover {
  background-color: rgba(14, 36, 49, 0.5);
}

.home--img {
  position: absolute;
  /* top: 70%; */
  right: 0;
  bottom: 10%;
  width: 18.5rem;
  height: 18.5rem;
  /* background-color: red; */
  /* z-index: -1; */
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: var(--font-semi);
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--color-primary);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-secondary-dark);
}

/* About */

/* .about {
  margin-top: var(--mb-5);
} */
.about--container {
  row-gap: 2rem;
  text-align: center;
  overflow-x: hidden;
}

.about-title {
  margin-top: 10rem;
}

.about--subtitle {
  margin-bottom: var(--mb-2);
  font-family: var(--font-family-heading);
}

.about--img {
  justify-self: center;
}

.about--img img {
  width: 12.5rem;
  border-radius: 0.5rem;  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.5);

}


/* Skills */
.skills--container {
  row-gap: 2rem;
  text-align: center;
  overflow-x: hidden;
}

.skills--subtitle {
  margin-bottom: var(--mb-2);
  font-family: var(--font-family-heading);
}

.skills--text {
  margin-bottom: var(--mb-4);
}

.skills--data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mb-4);
  font-weight: var(--font-semi);
  position: relative;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.5);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-secondary-dark);
}

.skills--icon {
  font-size: 1.5rem;
  margin-right: var(--mb-1);
}

.skills--names {
  display: flex;
  align-items: center;
  margin-right: .5rem;
  color: #ffffff;
}

/* .skills--name {
  display: flex;
  align-items: center;
} */

.skills--html {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 90%;
  background-color: var(--color-primary);
  z-index: var(--z-back);
}

.skills--css {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 75%;
  background-color: var(--color-primary);
  z-index: var(--z-back);
}

.skills--js {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 45%;
  background-color: var(--color-primary);
  z-index: var(--z-back);
}

.skills--py {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 70%;
  background-color: var(--color-primary);
  z-index: var(--z-back);
}

.skills--dj {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 50%;
  background-color: var(--color-primary);
  z-index: var(--z-back);
}

.skills--bootstrap {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 60%;
  background-color: var(--color-primary);
  z-index: var(--z-back);
}

.skills--tailwindcss {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 78%;
  background-color: var(--color-primary);
  z-index: var(--z-back);
}
.skills--sass {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 25%;
  background-color: var(--color-primary);
  z-index: var(--z-back);
}

.skills--react {
  position: absolute;
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 47%;
  background-color: var(--color-primary);
  z-index: var(--z-back);
}

.skills--percentage {
  position: absolute;
  right: 2%;
  bottom: 10%;
  font-size: 0.8rem;
  font-weight: var(--font-semi);
  color: var(--color-primary-light);
}


/* Projects */
.work {
  text-align: center;
}

.work--container {
  row-gap: 2rem;
  overflow-x: hidden;
}

.work--img {
  border: 2px solid rgba(49, 49, 49, 0.5);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.5);
}

.work--img img {
  width: 100%;
}

.work--img:hover {
  transform: scale(1.05);
}

.project--link {
  display: inline-block;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-1);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-family: var(--font-family-code);
  font-weight: 600;
  transition: 0.3s;
}

.project--link:hover {
  color: var(--color-primary-light);
}


/* Contact */

.contact--container {
  row-gap: 2rem;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.5);

}

.contact--subtitle {
  margin-bottom: var(--mb-2);
  font-size: var(--font-size-base);
  font-weight: var(--font-semi);
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.contact--text {
  margin-bottom: var(--mb-2);
  font-size: var(--font-size-base);
  /* font-weight: var(--font-semi); */
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: var(--mb-1);
  margin-top: var(--mb-3);
  font-size: var(--font-size-base);
  font-weight: var(--font-semi);
  /* color: rgba(255, 255, 255, 0.9); */
}

.contact--input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-2);
  border: none;
  border-radius: 0.5rem;
  font-size: var(--font-size-base);
  font-family: var(--font-family-code);
  font-weight: var(--font-semi);
}

.contact--input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary-light);
}

.contact--button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: var(--font-semi);
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--color-primary);
  width: 100%;
  transition: 0.3s;
}

.contact--button:hover {
  background-color: var(--color-primary-light);
}

.bxs-send {
transform: rotate(-40deg);  
margin-left: 0.25rem;
}


/* Footer */

footer {
  background-color: var(--color-secondary-dark);
  border-top: 3px solid var(--color-secondary-light);
}

.footer--container {
  margin: auto;
  text-align: center;
  max-width:64rem;
  padding: 2rem 1rem;
  row-gap: 2rem;
}

.footer--text {
  margin-bottom: var(--mb-2);
}

.footer--title a{
  margin-bottom: var(--mb-2);
  /* font-family: var(--font-family-heading); */
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary-light);
}

.footer--social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--mb-1);
}

.footer--icon {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
  color: rgba(255, 255, 255, 0.9);
  padding: .25rem .5rem;
  transition: 0.3s;
}

.footer--icon:hover {
  color: var(--color-primary-light);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}

.footer--copy {
  padding: 1rem 0;
  font-size: .8rem;
  color: rgba(255, 255, 255, 0.9);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}


/* Media Queries */
@media (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav--logo {
    font-size: 2rem;
  }

  .nav--toggle {
    display: none;
  }

  .nav--list {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .nav--item {
    font-size: 1rem;
  }

  .nav-link {
    padding: 0.5rem 1rem;

  }

  .nav-link:hover {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* border-bottom: 2px solid var(--color-primary-light); */
  }

  .nav-link:hover::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 0.15rem;
    left: 25%;
    right: 25%;
    top: 1.9rem;
    background-color: var(--color-primary-light);
  }

  .active {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .active::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 0.15rem;
    left: 25%;
    right: 25%;
    top: 1.9rem;
    background-color: var(--color-primary-light);
  }
 
.section {
  padding: 4rem 0 3rem;

}

.section-title {
  margin-bottom: var(--mb-2);
}

.section-title::after {
  width: 5rem;
  top: 3rem;
}

.home {
  /* height: calc(100vh + 3rem); */
  height: 100vh;
}

.home--data {
  align-self: flex-end;
}

.home--title {
  font-size: 3.5rem;
  font-weight: 700;
}

.home--social {
  padding-top: 0;
  padding-bottom: 2.5rem;
  align-self: flex-end;
  flex-direction: row;
}

.home--social-icon {
  margin-bottom: 0;
  margin-right: var(--mb-4);
}

.home--img {
  width: 20rem;
  bottom: 0;
  right: 10%;
}

/* About */
.about--container{
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: initial;
}

.about--img {
  width: 18.75rem;
}

.about--img:hover {
  transform: scale(1.1);
}


.skills-grid  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.skills--data {
  background: var(--color-secondary-dark);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.skills--bar {
  z-index: 1;
  border-radius: 0;
}

.work--container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

/* 
.work--img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
} */

.contact--container {
  justify-items: center;
  width: 100%;
  background: transparent;
}

.contact--form {
  width: 30rem;
  border-radius: 0.5rem;
  padding: 2rem;
}

.contact--button {
  width: 30%;
}

}


@media (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home--img {
    right: 10%;
  }

}